{reg: [
  {bits: 7, name: 0x57, attr: 'OPIYY'},
  {bits: 5, name: 'yd'},
  {bits: 3, name: 0},
  {bits: 5, name: 'ys1'},
  {bits: 5, name: 'ys2'},
  {bits: 1, name: 'ym'},
  {bits: 6, name: 'funct6'},
]}
