# VERIFICATION OF INSTRUCTIONS

This directory contains MetaData for the RISC-V Instruction Set Architecture

| File                           | Description                             |
|--------------------------------|:----------------------------------------|
| `test`                         | `Test for Verification`                 |

: Verification Directory

| `Architecture 32 bit`    | `PU`            | `SoC`            | `MPSoC`           |
|--------------------------|:----------------|:-----------------|:------------------|
| `Base ISA`               | `rv32-p-i`      | `rv32-pv-i`      | `rv32-pvt-i`      |
| `Standard ISA`           | `rv32-p-imac`   | `rv32-pv-imac`   | `rv32-pvt-imac`   |
| `Real Math`              | `rv32-p-rmath`  | `rv32-pv-rmath`  | `rv32-pvt-rmath`  |
| `Complex Math`           | `rv32-p-cmath`  | `rv32-pv-cmath`  | `rv32-pvt-cmath`  |
| `Real Linear Algebra`    | `rv32-p-ralg`   | `rv32-pv-ralg`   | `rv32-pvt-ralg`   |
| `Complex Linear Algebra` | `rv32-p-calg`   | `rv32-pv-calg`   | `rv32-pvt-calg`   |
| `Real Neural Network`    | `rv32-p-rnn`    | `rv32-pv-rnn`    | `rv32-pvt-rnn`    |
| `Complex Neural Network` | `rv32-p-cnn`    | `rv32-pv-cnn`    | `rv32-pvt-cnn`    |

: Architecture 32 bit

| `Architecture 64 bit`    | `PU`            | `SoC`            | `MPSoC`           |
|--------------------------|:----------------|:-----------------|:------------------|
| `Base ISA`               | `rv64-p-i`      | `rv64-pv-i`      | `rv64-pvt-i`      |
| `Standard ISA`           | `rv64-p-imac`   | `rv64-pv-imac`   | `rv64-pvt-imac`   |
| `Real Math`              | `rv64-p-rmath`  | `rv64-pv-rmath`  | `rv64-pvt-rmath`  |
| `Complex Math`           | `rv64-p-cmath`  | `rv64-pv-cmath`  | `rv64-pvt-cmath`  |
| `Real Linear Algebra`    | `rv64-p-ralg`   | `rv64-pv-ralg`   | `rv64-pvt-ralg`   |
| `Complex Linear Algebra` | `rv64-p-calg`   | `rv64-pv-calg`   | `rv64-pvt-calg`   |
| `Real Neural Network`    | `rv64-p-rnn`    | `rv64-pv-rnn`    | `rv64-pvt-rnn`    |
| `Complex Neural Network` | `rv64-p-cnn`    | `rv64-pv-cnn`    | `rv64-pvt-cnn`    |

: Architecture 64 bit

| `Architecture 128 bit`   | `PU`            | `SoC`            | `MPSoC`           |
|--------------------------|:----------------|:-----------------|:------------------|
| `Base ISA`               | `rv128-p-i`     | `rv128-pv-i`     | `rv128-pvt-i`     |
| `Standard ISA`           | `rv128-p-imac`  | `rv128-pv-imac`  | `rv128-pvt-imac`  |
| `Real Math`              | `rv128-p-rmath` | `rv128-pv-rmath` | `rv128-pvt-rmath` |
| `Complex Math`           | `rv128-p-cmath` | `rv128-pv-cmath` | `rv128-pvt-cmath` |
| `Real Linear Algebra`    | `rv128-p-ralg`  | `rv128-pv-ralg`  | `rv128-pvt-ralg`  |
| `Complex Linear Algebra` | `rv128-p-calg`  | `rv128-pv-calg`  | `rv128-pvt-calg`  |
| `Real Neural Network`    | `rv128-p-rnn`   | `rv128-pv-rnn`   | `rv128-pvt-rnn`   |
| `Complex Neural Network` | `rv128-p-cnn`   | `rv128-pv-cnn`   | `rv128-pvt-cnn`   |

: Architecture 128 bit
