{reg: [
  {bits: 7, name: 0x57, attr: 'OPMYY'},
  {bits: 5, name: 'yd / rd'},
  {bits: 3, name: 2},
  {bits: 5, name: 'ys1'},
  {bits: 5, name: 'ys2'},
  {bits: 1, name: 'ym'},
  {bits: 6, name: 'funct6'},
]}
