{reg: [
  {bits: 7, name: 0x27, attr: 'VSX* indexed'},
  {bits: 5, name: 'ys3', attr: 'store data'},
  {bits: 3, name: 'width'},
  {bits: 5, name: 'rs1', attr: 'base address'},
  {bits: 5, name: 'ys2', attr: 'address offsets'},
  {bits: 1, name: 'ym'},
  {bits: 2, name: 'mop'},
  {bits: 1, name: 'mew'},
  {bits: 3, name: 'nf'},
]}
