{reg: [
  {bits: 3, name: 'layout', attr: '[2:0]'},
  {bits: 2, name: 'order', attr: '[1:0]'},
  {bits: 2, name: 'tile', attr: '[1:0]'},
  {bits: 2, name: 'stride', attr: '[1:0]'},
  {bits: 22, name: 'reserved'},
  {bits: 1, name: 'lill'},
]}
