{reg: [
  {bits: 1, name: 'mask',  attr: '[0]'},
  {bits: 1, name: 'mask',  attr: '[1]'},
  {bits: 1, name: 'mask',  attr: '[2]'},
  {bits: 1, name: 'mask',  attr: '[3]'},
  {bits: 1, name: 'mask',  attr: '[4]'},
  {bits: 1, name: 'mask',  attr: '[5]'},
  {bits: 1, name: 'mask',  attr: '[6]'},
  {bits: 1, name: 'mask',  attr: '[7]'},
  {bits: 1, name: 'mask',  attr: '[8]'},
  {bits: 1, name: 'mask',  attr: '[9]'},
  {bits: 1, name: 'mask',  attr: '[10]'},
  {bits: 1, name: 'mask',  attr: '[11]'},
  {bits: 1, name: 'mask',  attr: '[12]'},
  {bits: 1, name: 'mask',  attr: '[13]'},
  {bits: 1, name: 'mask',  attr: '[14]'},
  {bits: 1, name: 'mask',  attr: '[15]'},
  {bits: 1, name: 'mask',  attr: '[16]'},
  {bits: 1, name: 'mask',  attr: '[17]'},
  {bits: 1, name: 'mask',  attr: '[18]'},
  {bits: 1, name: 'mask',  attr: '[19]'},
  {bits: 1, name: 'mask',  attr: '[20]'},
  {bits: 1, name: 'mask',  attr: '[21]'},
  {bits: 1, name: 'mask',  attr: '[22]'},
  {bits: 1, name: 'mask',  attr: '[23]'},
  {bits: 1, name: 'mask',  attr: '[24]'},
  {bits: 1, name: 'mask',  attr: '[25]'},
  {bits: 1, name: 'mask',  attr: '[26]'},
  {bits: 1, name: 'mask',  attr: '[27]'},
  {bits: 1, name: 'mask',  attr: '[28]'},
  {bits: 1, name: 'mask',  attr: '[29]'},
  {bits: 1, name: 'mask',  attr: '[30]'},
  {bits: 1, name: 'mask',  attr: '[31]'},
]}
